In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
465,tt1226753,20000000,45636368,The Debt,Helen Mirren|Sam Worthington|Jessica Chastain|...,John Madden,The secret is only the beginning,Rachel Singer is a former Mossad agent who tri...,113,Drama|Thriller,Miramax Films|Marv Films|Pioneer Pictures,4/11/2010,6.1,2010
769,tt1509767,75000000,132274484,The Three Musketeers,Milla Jovovich|Orlando Bloom|Logan Lerman|Ray ...,Paul W.S. Anderson,Every legend has a new beginning.,The hot-headed young D'Artagnan along with thr...,110,Adventure|Action|Thriller|Comedy,Impact Pictures|Studio Babelsberg|Nouvelles Ã‰...,8/31/2011,5.5,2011
1304,tt2083355,17000000,71625195,The Best Man Holiday,Terrence Howard|Harold Perrineau|Morris Chestn...,Malcolm D. Lee,Times change. Friendship doesn't.,When college friends reunite after 15 years ov...,123,Comedy,Universal,11/15/2013,7.0,2013
1685,tt0398808,60000000,137587063,Bridge to Terabithia,Josh Hutcherson|AnnaSophia Robb|Zooey Deschane...,GÃ¡bor CsupÃ³,"Close your eyes, but keep your mind wide open.",Jesse Aarons trained all summer to become the ...,96,Adventure|Drama|Family,Walden Media|Hal Lieberman Company|Lauren Levi...,2/16/2007,6.9,2007
1132,tt0349205,40000000,190212113,Cheaper by the Dozen,Steve Martin|Bonnie Hunt|Piper Perabo|Tom Well...,Shawn Levy,Growing pains? They've got twelve of them!,The Baker brood moves to Chicago after patriar...,98,Comedy|Drama|Family,Twentieth Century Fox Film Corporation|Robert ...,12/24/2003,5.8,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например

data['profit'] = data['revenue'] - data['budget']

def stringtolist(string):
    result = string.str.split('|')
    return result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answer1 = data.sort_values(by = 'budget', ascending = False).original_title.values[0]
answer1

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
answer2 = data.sort_values(by = 'runtime', ascending = False).original_title.values[0]
answer2

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers['3'] = '3.Winnie the Pooh (tt1449283)'

In [16]:
answer3 = data.sort_values(by = 'runtime').original_title.values[0]
answer3

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [17]:
answers['4'] = '2. 110'

In [18]:
answer4 = data.runtime.mean()
round(answer4)

110

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = '1. 107'

In [20]:
answer5 = data.runtime.describe()['50%']
answer5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
answers['6'] = '5. Avatar (tt0499549)'

In [23]:
answer6 = data.sort_values(by = 'profit',ascending = False).original_title.values[0]
answer6

'Avatar'

# 7. Какой фильм самый убыточный?

In [70]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [25]:
answer7 = data.sort_values(by = 'profit').original_title.values[0]
answer7

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
answers['8'] = '1. 1478'

In [27]:
answer8 = data.query('profit > 0').count().profit
answer8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [29]:
answer9 = data.query('release_year == 2008').sort_values(by = 'revenue',ascending = False).original_title.values[0]
answer9

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [31]:
answer10 = data.query('2012 <= release_year <= 2014').sort_values(by = 'profit').original_title.values[0]
answer10

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [32]:
answers['11'] = '3. Drama'

In [33]:
answer11 = Counter(data['genres'].str.split('|').sum()).most_common(1)[0][0]
answer11

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
answers['12'] = '1. Drama'

In [35]:
profitable_movies = data.query('profit > 0')
answer12 = Counter(profitable_movies.genres.str.split('|').sum()).most_common()[0][0]
answer12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [36]:
answers['13'] = '5. Peter Jackson'

In [37]:
answer13 = data.groupby(['director']).sum().sort_values('revenue',ascending = False).index[0]
answer13

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [38]:
answers['14'] = '3. Robert Rodriguez'

In [39]:
action_movies = data[data.genres.str.contains('Action', na=False)]
list_of_action_directors = action_movies.director.str.split('|').sum()
answer14 = Counter(list_of_action_directors).most_common(1)[0][0]
answer14

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
answers['15'] = '3. Chris Hemsworth'

In [41]:
movies_2012 = data.query('release_year == 2012')
movies_2012['actors'] = stringtolist(data['cast'])
cast_2012 = pd.DataFrame()

for i in range(0, len(movies_2012)):
    movie = movies_2012.iloc[i]
    for actor in movie['actors']:
        cast_2012 = cast_2012.append({'revenue':movie['revenue'],'cast':actor}, ignore_index=True)
        
answer15 = cast_2012.groupby(['cast']).sum().sort_values(by = 'revenue', ascending = False).index[0]
answer15

<ipython-input-41-5c5dd90da337>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2012['actors'] = stringtolist(data['cast'])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
answers['16'] = '3. Matt Damon'

In [43]:
data_new = data.loc[data.budget > data.budget.mean()]
answer16 = Counter(data_new.cast.str.split('|').sum()).most_common()[0][0]
answer16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
answers['17'] = '2. Action'

In [45]:
movies_NCage = data[data.cast.str.contains('Nicolas Cage', na = False)]
answer17 = Counter(movies_NCage.genres.str.split('|').sum()).most_common(1)[0][0]
answer17

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [47]:
paramount = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
answer18 = paramount.sort_values(by = 'profit').iloc[0][3]
answer18

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
answers['19'] = '5. 2015'

In [49]:
answer19 = data.groupby(['release_year']).sum().sort_values(by='revenue',ascending = False).index[0]
answer19

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
answers['20'] = '1. 2014'

In [51]:
warner_year = data[data.production_companies.str.contains("Warner Bros", na=False)]
answer20 = warner_year.groupby(['release_year']).sum().sort_values(by = 'profit',ascending = False).index[0]
answer20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21'] = '4. Сентябрь'

In [53]:
dates = data.release_date.str.split('/', expand = True)
answer = Counter(dates[0]).most_common()[0][0]
answer

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
answers['22'] = '2. 450'

In [55]:
dates = data.release_date.str.split('/', expand = True)
month = dates[0].value_counts()
answer22 = month.loc['6'] + month.loc['7'] + month.loc['8']
answer22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = '5. Peter Jackson'

In [57]:
dates = data.release_date.str.split('/', expand = True)
month_sr = dates[0]
month_df = pd.concat([data, month_sr], axis = 1).rename(columns= {0: 'Month'})

winter_mov = month_df[(month_df['Month'] == '11') | (month_df['Month'] == '12') | (month_df['Month'] == '1')]
answer23 = winter_mov.director.value_counts().index[0]
answer23

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24'] = '5. Four By Two Productions'

In [59]:
data['title'] = data['original_title'].map(lambda x: len(x))

productions = data['production_companies'].str.split('|').explode().unique()
# получим список уникальных названий компаний

prod_titles = pd.Series(dtype='float64', index=productions) 
# создадим серию для хранения средних значений
# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией

for prod in productions:
    prod_titles[prod] = data['title'][data['production_companies'].apply(lambda x: True if prod in x else False)].mean()
    
answer24 = prod_titles.sort_values(ascending = False).index[0]
answer24

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
answers['25'] = '3. Midnight Picture Show'

In [61]:
data['overview_words'] = data['overview'].map(lambda x: len(x.split(' ')))

productions = data['production_companies'].str.split('|').explode().unique()
# получим список уникальных названий компаний

sum_gen = pd.Series(dtype='float64', index=productions) 
# создадим серию для хранения средних значений
# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией

for prod in productions:
    sum_gen[prod] = data['overview_words'][data['production_companies'].apply(lambda x: True if prod in x else False)].mean()
    
answer25 = sum_gen.sort_values(ascending = False).index[0]
answer25

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [63]:
answer26 = data.sort_values(['vote_average'],ascending = False).head(round(len(data)/100))['original_title']
answer26

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [65]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [67]:
data['actors'] = data.cast.str.split('|')
actor_pairs = []
for i in range(0, len(data)):
    for item in itertools.combinations(data['actors'][i], 2):
        actor_pairs.append(item)
Counter(actor_pairs).most_common(1)[0][0]

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [71]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3.Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [72]:
# и убедиться что ни чего не пропустил)
len(answers)

27